
{% extends 'adminindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <h2>Complaints</h2>
    <table width="318" border="1" id="customers">
      <tr>
        <td width="48">Date</td>
        <td width="54">Name</td>
        <td width="91">Complaint</td>
        <td width="97">&nbsp;</td>
      </tr>
        <tr>
        <td width="48"></td>
        <td width="54"></td>
        <td width="91"></td>

      </tr>

      </table>  
  </div>
</form>
</body>
{% endblock %}
